.header_container {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin-bottom: 30px;
}

.homepage_heading {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin: 20px 0px;
  color: red;
}

.header {
  display: flex;
  align-items: center;
  max-width: 1250px;
  margin: auto;
  justify-content: space-between;
}
.logo {
  width: 160px;
  height: 85px;
}
.cartcount_div{
  margin-right: 40px;
}
.cart_length {
  position: absolute;
  margin-top: -14px;
  margin-left: 28px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  width: 28px;
  height: 35px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
}
@media (max-width: 720px) {
  .homepage_heading {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0px;
    color: red;
  }

  .header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 0px;
  }
  .header_container {
    padding: 0px 16px;
  }
  .logo {
    width: 160px;
    height: 85px;
  }
  .cartcount_div{
    margin-right: 14px;
  }
}
